[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
C = FR
ST = Hauts-De-France
L = Lille
O = JUNIA
CN = 172.20.10.6
emailAddress = antoine.souxdorf@student.junia.com

[req_ext]
subjectAltName = @alt_names

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 172.20.10.6
